apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitoring-pushgateway
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitoring-pushgateway
  template:
    metadata:
      labels:
        app: monitoring-pushgateway
    spec:
      containers:
        - name: pushgateway
          image: prom/pushgateway:v1.6.2
          ports:
            - containerPort: 9091
