apiVersion: v1
kind: Service
metadata:
  name: prometheus-pushgateway
  namespace: monitoring
spec:
  selector:
    app: prometheus-pushgateway
  ports:
    - name: http
      port: 9091
      targetPort: 9091
