apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: ghcr.io/mlflow/mlflow:v3.0.0rc2

          volumeMounts:
            - name: secrets-store
              mountPath: "/mnt/secrets-store"
              readOnly: true

          env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: mlflow-secret
                  key: OCI_ACCESS_KEY

            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: mlflow-secret
                  key: OCI_SECRET_KEY

            - name: OCI_NAMESPACE
              valueFrom:
                secretKeyRef:
                  name: mlflow-secret
                  key: OCI_NAMESPACE

            - name: MLFLOW_S3_ENDPOINT_URL
              valueFrom:
                secretKeyRef:
                  name: mlflow-secret
                  key: OCI_S3_ENDPOINT

            - name: AWS_DEFAULT_REGION
              value: ${OCI_REGION}

            - name: MLFLOW_BACKEND_STORE_URI
              valueFrom:
                secretKeyRef:
                  name: mlflow-secret
                  key: MLFLOW_DB_URI

          command: ["/bin/sh"]
          args:
            - "-c"
            - |
              pip install psycopg2-binary==2.9.9 && \
              mlflow server \
                --backend-store-uri="$MLFLOW_BACKEND_STORE_URI" \
                --default-artifact-root="s3://mlflow-artifacts@${OCI_NAMESPACE}/" \
                --host=0.0.0.0 \
                --port=5000

          ports:
            - containerPort: 5000

          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1000m"
              memory: "2Gi"

      volumes:
        - name: secrets-store
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: mlflow-secret-bundle
